.App {
  text-align: center;
  background-color: rgb(33, 107, 245);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  border:crimson 1px solid;
  text-align: center;
  display: inline-block;
  width: 100%;
}

/* .leftPadding {
  width: 15%;
}

.rightPadding {
  width: 15%;
} */
#user {
  width: 25%;
  border:crimson 1px solid;

}

#collections {
  width: 25%;
  border:crimson 1px solid;

}

#wishlists {
  width: 25%;
  border:crimson 1px solid;

}

#search {
  width: 25%;
  border:crimson 1px solid;

}

.drop-down-row {
  width: 100%;
  background-color: rgb(6, 201, 201);
  color: blanchedalmond;
  border:crimson 1px solid;
  display: inline-block;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:crimson 1px solid;

}

#card {
  width: 350px;
  border:crimson 1px solid;

}

