.App {
  text-align: center;
  background-color: rgb(33, 107, 245);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  font-family: Moonshine;
  font-size: 48px;
  font-weight: 900;
}

.navbar {
  border:crimson 1px solid;
  text-align: center;
  display: inline-block;
  width: 100%;
}

/* .leftPadding {
  width: 15%;
}

.rightPadding {
  width: 15%;
} */
#user {
  width: 25%;
  border:crimson 1px solid;

}

#collections {
  width: 25%;
  border:crimson 1px solid;

}

#wishlists {
  width: 25%;
  border:crimson 1px solid;

}

#search {
  width: 25%;
  border:crimson 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.drop-down-row {
  width: 100%;
  background-color: rgb(6, 201, 201);
  color: blanchedalmond;
  border:crimson 1px solid;
  display: inline-block;
  font-family: AlohaSummer;
  font-size: 24px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:crimson 1px solid;

}

#card {
  width: 350px;
  border:crimson 1px solid;

}

@font-face {
  font-family: SmoothButter;
  src: url('./assets/SmoothButter-PK3ym.ttf');
}

@font-face {
  font-family: Moonshine;
  src: url('./assets/MoonshinePersonalUseRegular-w1xrZ.ttf');
}

@font-face {
  font-family: ComicBoomElements;
  src: url('./assets/ComicBoomElementsDemo-YzMMO.ttf');
}

@font-face {
  font-family: VintageRound;
  src: url('./assets/VintageRoundPersonalUse-0W1Z4.otf');
}

@font-face {
  font-family: Smilen;
  src: url('./assets/Smilen-gKW6.otf');
}

@font-face {
  font-family: AlohaSummer;
  src: url('./assets/Alohasummer-PKX7r.ttf');
}