.App {
  text-align: center;
  background-color: #6f7580;
  background-image: url("./assets/blue-pop-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #6f7580; */
  background-image: url("./assets/blue-pop-background.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  font-family: Bangers;
  font-size: 4rem;
  font-weight: 900;
}

#header {
  font-size: 7.5rem;
}

.navbar {
  border:crimson 1px solid;
  text-align: center;
  display: inline-block;
  width: 100%;
}

/* .leftPadding {
  width: 15%;
}

.rightPadding {
  width: 15%;
} */
#user {
  border:crimson 1px solid;
}


#search {
  width: 25%;
  border:crimson 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.drop-down-row {
  width: 100%;
  background-color: #1a6fa8;
  color: blanchedalmond;
  border:crimson 1px solid;
  display: inline-block;
  font-family: StickyNotes;
  font-size: 24px;
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:crimson 1px solid;

}

#card {
  width: 350px;
  border:crimson 1px solid;

}

.mainBody {
	background: linear-gradient(-45deg, #9a05d4, #0508ca, #01795d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
  font-family: StickyNotes;
  src: url('./assets/Stickynotes-ywLPd.otf');
}

@font-face {
  font-family: SmoothButter;
  src: url('./assets/SmoothButter-PK3ym.ttf');
}

@font-face {
  font-family: Moonshine;
  src: url('./assets/MoonshinePersonalUseRegular-w1xrZ.ttf');
}

@font-face {
  font-family: ComicBoomElements;
  src: url('./assets/ComicBoomElementsDemo-YzMMO.ttf');
}

@font-face {
  font-family: VintageRound;
  src: url('./assets/VintageRoundPersonalUse-0W1Z4.otf');
}

@font-face {
  font-family: Smilen;
  src: url('./assets/Smilen-gKW6.otf');
}

@font-face {
  font-family: AlohaSummer;
  src: url('./assets/Alohasummer-PKX7r.ttf');
}

@font-face {
  font-family: Bangers;
  src: url('./assets/Bangers-Regular.ttf');
}
